.game-info-overlay {
    opacity: 0.85;
    position: relative;
}

.game-info-overlay h2 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0.5rem;
}

.game-info-overlay table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.game-info-overlay tr {
    border-top: 1px solid #000;
}

.game-info-overlay td {
    padding: 0.5rem;
}

.game-info-overlay td:first-child {
    width: 70%;
}

.game-info-overlay td:last-child {
    font-weight: 700;
    width: 30%;
}

.game-info-overlay-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: 1px solid #000;
    outline-offset: -1px;
    color: #000;
    fill: #000;
    transition: outline-width 200ms ease, outline-offset 200ms ease, fill 200ms ease, background-color 200ms ease;
}

.game-info-overlay-close:focus,
.game-info-overlay-close:hover {
    outline-offset: -3px;
    outline-width: 3px;
}

.game-info-overlay-close:active {
    outline-offset: -3px;
    outline-width: 3px;
    background-color: #000;
    color: #fff;
    fill: #fff;
}

.game-info-overlay-close svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}
