.level-selector {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
    overflow-y: auto;
}

.level-selector h1 {
    margin-left: 1rem;
    text-decoration: underline;
}

.level-selector ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(202px + 2rem));
    grid-gap: 0.75rem;

    list-style: none;
    padding: 0;
    margin: 0;
}

.level-selector-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: 1px solid #fff;
    outline-offset: -1px;
    color: #fff;
    fill: #fff;
    transition: outline-width 200ms ease, outline-offset 200ms ease,
        fill 200ms ease, background-color 200ms ease;
}

.level-selector-close:hover {
    outline-offset: -3px;
    outline-width: 3px;
}

.level-selector-close:active {
    outline-offset: -3px;
    outline-width: 3px;
    background-color: #fff;
    color: #000;
    fill: #000;
}

.level-selector-close svg {
    display: block;
    width: 2rem;
    height: 2rem;
}
