.menu-header,
.menu-main {
    text-align: center;
}

.menu-header {
    display: inline-block;
    width: 100%;
    padding: 1rem 0;
}

.menu-main {
    display: block;
    padding: 1rem;
    max-width: 300px;
    margin: 0 auto;
}

.menu-main ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-level-preview img {
    display: inline-block;
    width: 200px;
    height: 128px;
}

.menu-button {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 0.75rem;
    background: none;
    border: none;
    outline: 1px solid #fff;
    outline-offset: -1px;
    color: #fff;
    fill: #fff;
    font-size: 1rem;
    transition: outline-width 200ms ease, outline-offset 200ms ease,
        background-color 200ms ease;
    width: 100%;
}

.menu-button:focus,
.menu-button:hover {
    outline-offset: -6px;
    outline-width: 6px;
}

.menu-button:active {
    outline-offset: -6px;
    outline-width: 6px;
    background-color: #fff;
    color: #000;
    fill: #000;
}

.menu-game-options {
    text-align: left;
}

.menu-game-options input[type='checkbox'] {
    accent-color: #000;
}

.menu-custom-level-load-input {
    position: absolute;
    top: -9999px;
    opacity: 0;
    pointer-events: none;
}

.menu-custom-level-load-input:focus-visible + label {
    outline-offset: -6px;
    outline-width: 6px;
}

.menu-logo-container {
    height: 76px;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.menu-logo-parallax-layer {
    background-image: url('logo/transparent-logo.png');
    background-attachment: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    user-select: none;
}

.menu-logo-parallax-layer:before {
    content: '';
    background-image: url('logo/clouds.jpeg');
    background-attachment: center;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 200%;
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(calc(var(--x, 1px) * 1px), calc(var(--y, 1px) * 1px))
        translateZ(-1px) scale(2);
}
